* {
    margin: 0px;
    padding: 0px;
}

.loginWrapper {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.loginForm {
    border-radius: 10px;
    width: 360px;
    background-color: white;
    height: fit-content;
    margin-top: 30px;
    padding: 20px;
    padding-top: 10px;
}

.loginForm div {
    margin-top: 15px;
}

.image {
    background-image: url(../../public/batman_logo_black.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 173px;
}